<%= react_component('NewEvent', props: {event_types: JSON.parse(EventType.all.to_json)}) %>

<header style="background:url(https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/14962601_1233141120076673_6972748452500720449_n.jpg?oh=ffdbaaa8765232b1e031eb334ca94f90&oe=596CDF92) no-repeat;background-size:cover;background-position:0">
</header>
<section id="cd-timeline" class="cd-container"></section>
<section id="cd-modal">
 <%= react_component('EventDetails') %>

</section>
