.ReactModal__Content .ant-form {
  margin-left: 25%;
}

/*.ReactModal__Content .clearfix {*/
  /*margin-left: 12%;*/
/*}*/

.react_modalBtn_container {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.react_modalBtn_container div {
  float: left;
  font-size: 12px;
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-family: 'Montserrat', sans-serif;
  margin: 1rem 2.3rem;
  outline: none;
  text-align: center;
  cursor: pointer;
}

.react_modalBtn_container .nonalbum__btn {
  border: 2px solid #e6e6e6;
  color: #a4a1a1;
  /*width: 40%;*/
  background: #e4e1e1;
}

.form_buttons {
  margin-left: 12%;
  margin-top: 10px;
}

.form_buttons .ant-form-item {
  display: inline-block;
  margin-left: 40px;
}
