* {
 box-sizing: border-box;
}


.heroimage {
    height:340px;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.herowrapper {
    background:rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
}

.heroimage__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.hero__header  {
  font-size: 3rem;
  margin-bottom: 16px;
  text-align: center;
}

.hero__date {
 display: inline-block;
 border-radius: 30px 0 0 30px;
 border: 2px solid white;
 padding: 1rem;
 margin: 0 -1px 0;
 /*background-color: #bac4cb;*/
}

.hero_date_container {
    text-align: center;
}
.hero__date p {
  float: left;
  padding: 0;
  margin: 0 .4rem;
}

.hero__date:last-of-type {
  border-radius: 0 30px 30px 0;
}

.album__thumbnail {
 font-family: 'Montserrat', sanrs-serif;
}


.album__btn {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 4.3rem;
  margin: 0.5rem auto;
  color: white;
  outline:none;
  background: #108ee9;
}
.album__thumbnail img {
  width:120px;
  height:120px;
  float: left;
  cursor: pointer;
}

.gallery__container {
  width: 97%;
  padding: 1rem;
  margin: 1rem auto;
  border-radius: .4rem;
}

.gallery__item {
 width: 45%;
 margin-left: auto;
 margin-right: auto;
}

.album__heading {
  font-family: 'Droid Serif', serif;
  font-size: 1.2rem;
  font-style: italic;
}

.avatar {
    border: 1.3px solid #eee;
    padding: 1rem;
    border-radius: 1.3rem;
    width: 90%;
    margin: .3rem auto;
}

.image__avatar {
    width: 60px;
    height: 60px;
    float: left;
}

.image__avatar img {
  width: 100%;
  border-radius: .4rem;
  display: inline-block;
}
.image__header {

}

.image__heading {
 font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.image__content {
  font-family: 'Droid Serif', serif;
  font-size: 11px;
  width: 90%;
  margin-left:6.8rem;
}

.hide {
    display: none;
}

.ReactModal__Content .ant-col-8.ant-form-item-control-wrapper {
    width: 52%;
}
.ReactModal__Content .ant-col-4 {
    width: 29.666667%;
}

.ReactModal__Content .form_buttons {
    text-align: center;
    margin-left: 0;
}

.ReactModal__Content .ant-upload.ant-upload-select-picture-card {
  width: 62px;
  height: 44px;
}

.ReactModal__Content .ant-upload-select-picture-card {
    font-size: 15px;
}

.ReactModal__Content .ant-upload.ant-upload-select-picture-card>.ant-upload {
    padding:3px 0;
}

.ReactModal__Content .ant-upload-select-picture-card i {
    font-size: 11px;
}

.ReactModal__Content .ant-upload-select-picture-card .ant-upload-text {
  margin-top: 0;
}

.ReactModal__Content .btn__wrapper {
    text-align: center;
}

.ReactModal__Content .btn__wrapper button {
  margin-left: 2.3rem;
  display: inline-block;
}


/*font-family: 'Montserrat', sans-serif;
font-family: 'Droid Serif', serif;*/

