.titledesc .ant-col-8 {
    width:66.66%;
}

.ant-calendar-picker {
  margin-left: .4rem;
}


.btn__wrapper {
    text-align: center;
    margin-bottom: 1rem;
}

.btn__wrapper button {
    margin-left: .4rem;
}