<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login | KSN</title>
</head>

<body style="background-size:cover;">
    <div class="middle-box text-center">
        <img class="img-responsive center-block" src="http://kiprosh.com/assets/kiprosh-logo_forblackbg_xsmall-bd5ca502654a714978b84cde6326dc65d9389a64f4fd0d002dda919295b42c87.png">
    </div>

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <h3>Welcome to KSN</h3>

            <div class="form-horizontal container" action="#">
                <div class="form-group-lg">
                    <input name="txtLogin" id="login-username" type="text" class="form-control center-block" placeholder="UserName" style="max-width: 35%; margin-top: 10px;">
                </div>
                <div class="form-group-lg">
                    <input name="txtPassword" id="login-password" type="password" class="form-control center-block" placeholder="Password" style="max-width: 35%; margin-top: 10px;">
                </div>
                <div id="err" class="form-group text-danger">
                </div>
                <div class="form-group-lg">
                    <div class="">
                        <button id="login-button" type="button" class="btn btn-primary btn-lg m-b m-t">
                            Login
                        </button>
                        <button id="signup-link-button" type="button" class="btn btn-primary btn-lg m-b m-t" style="margin-left: 20px;">
                            <a href="/signup" class="signup-link" style="color: inherit; background-color: inherit;">Sign Up?</a>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
